In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn.preprocessing as scale
from wrangle import wrangle_zillow
from scipy import stats
from sklearn.model_selection import train_test_split


np.random.seed(302)

In [4]:
df = wrangle_zillow()
df.info()
df.head()

Reading from CSV file...
<class 'pandas.core.frame.DataFrame'>
Int64Index: 2140235 entries, 20 to 2982282
Data columns (total 7 columns):
 #   Column        Dtype
---  ------        -----
 0   bedrooms      int64
 1   bathrooms     int64
 2   calcfin_sqft  int64
 3   tax_val       int64
 4   yr_built      int64
 5   tax_amt       float64
 6   fips          int64
dtypes: float64(1), int64(6)
memory usage: 130.6 MB

/opt/homebrew/anaconda3/lib/python3.9/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

    bedrooms  bathrooms  calcfin_sqft  tax_val  yr_built   tax_amt  fips
20         4          2          3633   296425      2005   6941.39  6037
31         3          4          1620   847770      2011  10244.94  6037
33         3          2          2077   646760      1926   7924.68  6037
62         0          0          1200     5328      1972     91.60  6037
97         0          0           171     6920      1973    255.17  6037

In [7]:
# take a look inside the toolbox
dir(scale)

['Binarizer',
 'FunctionTransformer',
 'KBinsDiscretizer',
 'KernelCenterer',
 'LabelBinarizer',
 'LabelEncoder',
 'MaxAbsScaler',
 'MinMaxScaler',
 'MultiLabelBinarizer',
 'Normalizer',
 'OneHotEncoder',
 'OrdinalEncoder',
 'PolynomialFeatures',
 'PowerTransformer',
 'QuantileTransformer',
 'RobustScaler',
 'StandardScaler',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '_csr_polynomial_expansion',
 '_data',
 '_discretization',
 '_encoders',
 '_function_transformer',
 '_label',
 'add_dummy_feature',
 'binarize',
 'label_binarize',
 'maxabs_scale',
 'minmax_scale',
 'normalize',
 'power_transform',
 'quantile_transform',
 'robust_scale',
 'scale']

In [8]:
# split df, isolate target variable
train, test = train_test_split(df, train_size=0.8, random_state= 302)
train, validate = train_test_split(train, train_size=0.7, random_state= 302)

X_train = train.drop(columns= ['tax_val'])
y_train = train.tax_val

X_validate = validate.drop(columns= ['tax_val'])
y_validate = validate.tax_val

X_test = test.drop(columns= ['tax_val'])
y_test = test.tax_val

In [ ]:
# set up, fit, and apply MinMaxScaler

min_max = scale.MinMaxScaler()

min_max.fit(X_train)

X_train_mm_scaled = min_max.transform(X_train)
X_validate_mm_scaled = min_max.transform(X_validate)
X_test_mm_scaled = min_max.transform(X_test)

In [ ]:
#stand_scale = scale.StandardScaler()
#robust_scale = scale.RobustScaler()
#st_fit = stand_scale.fit(X_train)
#rob_fit = robust_scale.fit(X_train)