### Regression exercises

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from env import get_db_url
from wrangle import show_codeup_dbs

import warnings
warnings.filterwarnings('ignore')

In [3]:
show_codeup_dbs()

List of Codeup DBs:

              Database
0            albums_db
1             chipotle
2      curriculum_logs
3               elo_db
4            employees
5            fruits_db
6           grocery_db
7          home_credit
8   information_schema
9           innis_1673
10             iris_db
11     join_example_db
12                logs
13      mall_customers
14               mysql
15             numbers
16               pizza
17           quotes_db
18            saas_llc
19              sakila
20             spam_db
21       superstore_db
22              svi_db
23         telco_churn
24           tidy_data
25          titanic_db
26     tsa_item_demand
27               world
28              zillow

In [4]:
url = get_db_url('zillow')

pd.read_sql('SHOW TABLES', url)

          Tables_in_zillow
0      airconditioningtype
1   architecturalstyletype
2        buildingclasstype
3      heatingorsystemtype
4         predictions_2016
5         predictions_2017
6          properties_2016
7          properties_2017
8      propertylandusetype
9                storytype
10    typeconstructiontype
11       unique_properties

In [5]:
pd.read_sql('DESCRIBE properties_2017', url)

                           Field        Type Null  Key Default Extra
0                             id      bigint  YES  MUL    None
1                       parcelid      bigint  YES  MUL    None
2          airconditioningtypeid      double  YES         None
3       architecturalstyletypeid      double  YES         None
4                   basementsqft      double  YES         None
5                    bathroomcnt      double  YES         None
6                     bedroomcnt      double  YES         None
7            buildingclasstypeid      double  YES         None
8          buildingqualitytypeid      double  YES         None
9              calculatedbathnbr      double  YES         None
10                    decktypeid      double  YES         None
11      finishedfloor1squarefeet      double  YES         None
12  calculatedfinishedsquarefeet      double  YES         None
13          finishedsquarefeet12      double  YES         None
14          finishedsquarefeet13      double  YES         None
15          finishedsquarefeet15      double  YES         None
16          finishedsquarefeet50      double  YES         None
17           finishedsquarefeet6      double  YES         None
18                          fips      double  YES         None
19                  fireplacecnt      double  YES         None
20                   fullbathcnt      double  YES         None
21                  garagecarcnt      double  YES         None
22               garagetotalsqft      double  YES         None
23                hashottuborspa  tinyint(1)  YES         None
24         heatingorsystemtypeid      double  YES         None
25                      latitude      double  YES         None
26                     longitude      double  YES         None
27             lotsizesquarefeet      double  YES         None
28                       poolcnt      double  YES         None
29                   poolsizesum      double  YES         None
30                  pooltypeid10      double  YES         None
31                   pooltypeid2      double  YES         None
32                   pooltypeid7      double  YES         None
33     propertycountylandusecode        text  YES         None
34         propertylandusetypeid      double  YES         None
35            propertyzoningdesc        text  YES         None
36        rawcensustractandblock      double  YES         None
37                  regionidcity      double  YES         None
38                regionidcounty      double  YES         None
39          regionidneighborhood      double  YES         None
40                   regionidzip      double  YES         None
41                       roomcnt      double  YES         None
42                   storytypeid      double  YES         None
43           threequarterbathnbr      double  YES         None
44        typeconstructiontypeid      double  YES         None
45                       unitcnt      double  YES         None
46            yardbuildingsqft17      double  YES         None
47            yardbuildingsqft26      double  YES         None
48                     yearbuilt      double  YES         None
49               numberofstories      double  YES         None
50                 fireplaceflag  tinyint(1)  YES         None
51    structuretaxvaluedollarcnt      double  YES         None
52             taxvaluedollarcnt      double  YES         None
53                assessmentyear      double  YES         None
54         landtaxvaluedollarcnt      double  YES         None
55                     taxamount      double  YES         None
56            taxdelinquencyflag        text  YES         None
57            taxdelinquencyyear      double  YES         None
58           censustractandblock      double  YES         None

In [14]:
prop_vals = pd.read_sql(
    ''' SELECT 
    bedroomcnt, bathroomcnt, calculatedfinishedsquarefeet, taxvaluedollarcnt, yearbuilt, taxamount, fips
    FROM properties_2017
    ''', url
    )

In [15]:
prop_vals.info()
prop_vals.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2985217 entries, 0 to 2985216
Data columns (total 7 columns):
 #   Column                        Dtype
---  ------                        -----
 0   bedroomcnt                    float64
 1   bathroomcnt                   float64
 2   calculatedfinishedsquarefeet  float64
 3   taxvaluedollarcnt             float64
 4   yearbuilt                     float64
 5   taxamount                     float64
 6   fips                          float64
dtypes: float64(7)
memory usage: 159.4 MB

   bedroomcnt  bathroomcnt  ...  taxamount    fips
0         0.0          0.0  ...        NaN  6037.0
1         0.0          0.0  ...        NaN  6037.0
2         0.0          0.0  ...   20800.37  6037.0
3         0.0          0.0  ...   14557.57  6037.0
4         0.0          0.0  ...    5725.17  6037.0

[5 rows x 7 columns]

In [16]:
prop_vals.to_csv('prop_vals.csv')

In [17]:
prop_vals.isna().sum()

bedroomcnt                       2945
bathroomcnt                      2957
calculatedfinishedsquarefeet    45097
taxvaluedollarcnt               34266
yearbuilt                       47833
taxamount                       22752
fips                             2932
dtype: int64

In [9]:
pd.read_sql('DESCRIBE propertylandusetype', url)

                   Field    Type Null  Key Default Extra
0  propertylandusetypeid  bigint   NO  PRI    None
1    propertylandusedesc    text  YES         None

In [18]:
prop_types = pd.read_sql('SELECT * FROM propertylandusetype', url)
prop_types.to_csv('prop_types.csv')

In [19]:
prop_types.shape

(25, 2)